<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#317EFB">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "application", "data-turbo-track": "reload" %>
  <link rel="manifest" href="/manifest.json">
  <%= javascript_importmap_tags %>
</head>
<body class="custom-font">
  <%= yield %>

  <script src="https://cdn.tailwindcss.com"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
   if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
        console.log('ServiceWorker registration successful with scope: ', registration.scope);
      }, function(err) {
        console.log('ServiceWorker registration failed: ', err);
      });
    });
  }
  </script>
</body>
</html>

<style>
.custom-font {
    font-family: Arial, Helvetica, sans-serif;
}
</style>
